body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: montserrat, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.body-margin{
  margin: 1rem;
}

.body-padding{
  padding: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}


.flex-align-center {
  align-items: center;
}


.flex-align-stretch {
  align-items: stretch;
}

.flex-item-fixed {
  flex: 0 0 auto;
}

.flex-item {
  flex: 1 1 auto;
}

.flex-row-center{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-item-balloon {
  flex: 1 1 0;
  min-height: 0px;
  min-width: 0px;
}

.absolute-pos{
  position: absolute;
  top:0px;
  right: 0px;
  bottom: 0px;
  left:0px;
}

.full-height{
    height:100vh;
}

.full-width{
  width:100vw;
}

.padding-sm{
  padding:3rem;
}

.padding-md{
  padding:5rem;
}

.padding-lg{
  padding:7rem;
}

.menu-bg{
  background:#454545;
}